/* nama */
@font-face{
  font-family: 'orator';
  src: url(../asset/font/OratorStd.otf);
}

@font-face{
  font-family: 'neutron';
  src: url(../asset/font/Neuton-Regular.ttf);
}

@font-face {
  font-family: 'amalfi';
  src: url(../asset/font/Amalfi\ Coast.ttf);
}

@font-face {
  font-family: 'christmas';
  src: url(../asset/font/Christmas\ and\ Santona.ttf);
}

@font-face {
  font-family: 'christ';
  src: url(../asset/font/Christina.otf);
}

@font-face {
  font-family: 'shafron';
  src: url(../asset/font/Shaffron.ttf);
}

@font-face {
  font-family: 'bromello';
  src: url(../asset/font/bromello-Regular.otf);
}

@font-face {
  font-family: 'qalistha';
  src: url(../asset/font/Qalistha.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* mongolian baiti kw */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&family=Playfair+Display&display=swap');
/* invited */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* open invitation */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
/* salsa */
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
/* time */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden !important;
    background-color: rgb(22, 22, 22);
    /* background: url("../asset/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece{
    background: var(--mudaCoklat);   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

  /*loader*/
  #heart {
    position: relative;
    width: 100px;
    height: 90px;
    animation: heartbeat 2s infinite;
    margin:0 auto
}
  #heart:before,
  #heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #fff;
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
          -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  #heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
        -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
          -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }



  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .75 );
    }
    20%
    {
      transform: scale( 1 );
    }
    40%
    {
      transform: scale( .75 );
    }
    60%
    {
      transform: scale( 1 );
    }
    80%
    {
      transform: scale( .75 );
    }
    100%
    {
      transform: scale( .75 );
    }
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999 !important;
    display: flex;
    flex-direction: column;
  }
  .loader-wrapper p{
    color: white;
    font-size: 20px!important;
    font-family: 'amalfi';
  }
  
.container{
  width: 100vw;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.wrapper{
  width: 414px;
  background-color: #91a38b !important;
  color: black;
}

#popup{
  color: black; 
  position: fixed;
  top: -100%;
  width: 414px;
  height: 100vh;
  visibility: hidden;
  opacity: 1;
  transition: 1s;
  z-index: 10 !important;

}

#popup.active{
    top: 0%;
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.wrapper-cover{
  position: relative;
}

.cover-popup{
  position: absolute;
}

.cover-popup img{
  width: 414px;
  height: 100vh;
}


.title{
  /* padding-top: 50px; */
  height: 100vh;
  top: 50%;
  left: 25px;
  position: absolute;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  position: absolute;
}

.title .title-logo{
  width: 50px;
  height: auto;
}

.title .title-nama{
  width: 180px;
  height: auto;
  margin-top: 15px;
}

.title .title-tanggal{
  width: 200px;
  height: auto;
}

.title a{
  position: relative;
  padding: 2px 10px;
  padding-bottom: 6px;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #263f22;
  background: transparent;
  border: solid 1px #263f22;
  border-radius: 20px;
  font-family: 'neutron';
  font-size: 15px;
  border-radius: 20px;
}

title a:hover{
  color: #ffffff;
  background: #263f22;
}

img{
  pointer-events: none;  
}


#top{
    height: 100vh;
    background-color: #fff;
}

.container-top{
  width: 414px;
  height: 100%;
  position: relative;
}

.cover-top{
  position: absolute;
  top: 20%;
  height: 100vh;
}

.cover-top img{
  width: 414px;
}

.arrum-section{
  width: 414px;
  height: max-content;
  background-color: #fff;
}

.content-isra{ 
  width: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0 10px 0;
  
}

.content-isra p{
  padding: 15px 15px;
  line-height: 1px;
}

.content-isra i{
  font-weight: bold;
}

.content-isra i,
.content-isra p{
  color: #263f22;
  font-family: "neutron";
  font-size: 14px;
  line-height: 20px;
}

.couple-photo img{
  width: 414px;
  height: auto;
}

.couple-name{
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.couple-name img{
  width: 370px;
  height: auto;
  padding: 50px;
}

.the-date img{
  width: 414px;
  height: auto;
}

.space{
  padding-top: 10px;
  -moz-text-stroke: .2px #000;
  -webkit-text-stroke: .2px #000;
}

.playfair{
  font-family: 'Playfair Display', serif !important;
  font-size: 50px !important;
}

.salsa{
  font-family: 'Salsa', cursive !important;
  font-size: 60px !important;
  font-weight: 545;
}

.font-bigger{
  font-size: 20px !important;
}

.font-amalfi{
  font-family: 'amalfi' !important;
  font-size: 27px !important;
}

.font-bromello{
  font-family: 'bromello' !important;
  font-size: 45px !important;
}

.font-bromello1{
  font-family: 'bromello' !important;
  font-size: 45px !important;
  /* font-weight: bolder; */
  -moz-text-stroke: .5px #000;
  -webkit-text-stroke: .5px #000;
}

.bold{
  font-weight: bold;
}

#counting{
  width: 414px;
  height: max-content;
  margin-top: -50px;
}

.count-down{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 414px;
  height: 30vh;
}

.count-down p{
  font-family: 'christ';
  font-size: 32px;
  color: #dddaca;
  font-weight: lighter;
}

.time{
  margin-top: 30px;
  font-size: 45px;
  display: flex;
}

.times{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#day, #hour, #minute, #second{
  color: #dddaca;
  font-family: 'shafron';
  font-weight: lighter;
}

.separator{
  font-family: 'Play', sans-serif !important;
  color: #dddaca;
  padding: 0 12px;
}

.font-smaller{
  font-size: 13px;
  font-family: 'Josefin Sans', sans-serif;
  color: #dddaca;
}

#habis.aktif{
  visibility: visible;
  opacity: 1;
  transition: 1s;
  color: #dddaca;
  font-size: 13px;
  font-family: 'shafron';
}

#times.aktif,
#times1.aktif,
#times2.aktif,
#times3.aktif,
#separator.aktif,
#separator1.aktif,
#separator2.aktif{
  display: none;
}

.date-time{
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.date-time img{
  width: 300px;
}

.map{
  width: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map img{
  width: 350px;
}

.direction{
  margin: 20px 0px;
}

.direction a{
  position: relative;
  padding: 2px 10px;
  padding-bottom: 6px;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #263f22;
  background: transparent;
  border: solid 1px #263f22;
  border-radius: 20px;
  font-family: 'neutron';
  font-size: 15px;
  border-radius: 20px;
}

.direction a:hover{
  color: #ffffff;
  background: #263f22;
}

.amplop{
  width: 414px;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.amplop-title{
  font-family: 'neutron';
  font-size: 30px ;
  font-weight: bold;
  color: #263f22;
  letter-spacing: 3px;
  text-align: left;
  margin-bottom: 15px;
}

.amplop-text{
  color: #263f22;
  font-family: "neutron";
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  padding: 0px 30px;
  margin-bottom: 0px;
}

.trigger,.btn-rek{
  text-align: center;
  padding: 3px 30px;
  background: transparent;
  color: #263f22;
  font-size: 13px;
  outline: none;
  border: solid 1px #263f22;
  border-radius: 20px;
  font-family: 'Playfair Display', serif;
  /* font-weight: bold; */
  font-size: 17px;
}

.btn-rek:hover{
  color: #fff;
  background: #263f22;
}

.bank{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.card-bank{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 30px;
  border: #263f22 solid 1px;
}

.card-bank p{
  margin-bottom: 15px;
  color: #263f22;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
}

.card-bank img{
  width: 50%;
}

.line{
  width: 85%;
  display: block;
  height: 3px;
  background-color: #263f22;
  margin: 15px auto;
}

.content-closing{
  width: 414px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  background-color: #91a38b;
}

.content-closing i{
  font-weight: bold;
}

.content-closing i,
.content-closing p{
  color: #263f22;
  font-family: "neutron";
  font-size: 14px;
  line-height: 20px;
}

.content-closing p{
  padding: 10px 10px;
  /* line-height: 1px; */
}




.save-the-date{
  height: max-content;
  margin-top: 50px;
  margin-bottom: 0;
}

.save-the-date .relative{
  position: relative;
}

.save-the-date .relative img{
  width: 414px;
}

.save-the-date .block{
  position: absolute;
  top: 30px;
  height: 85%;
}

.save-date,
.direction{
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-the-date .save-date p{
  font-family: 'christ' !important;
  font-size: 70px !important;
  color: black;
  font-weight: lighter;
  text-emphasis: center;
  margin-top: -65px;
}

.save-the-date .direction a{
  text-decoration: none;
  font-family: 'christ' !important;
  font-size: 30px !important;
  color: black;
  font-weight: lighter;
  text-align: center;
  border-radius: 20px;
  padding: 2px 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

.save-the-date .relative .block .akad-resepsi{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 414px;
  height: 100%;
  /* background-color: brown; */
  margin-top: -22px;
}

.akad-resepsi .akad img{
  width: 55%;
}

.akad-resepsi .resepsi img{
  width: 50%;
}

.save-the-date .realtive .block .akad-resepsi .akad p,
.save-the-date .relative .block .akad-resepsi .resepsi p{
  font-family: 'orator';
  color: #000;
  font-size: 12px;
  font-weight: bold;
}



.sorry-protokol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: max-content;
  margin: 0;
  margin-top: -5px;
  padding: 40px 0;
  position: relative;
}

.protokol img{
  width: 414px;
}

.contact-us{
  background-color: #91a38b;
  position: relative;
  padding: 30px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
}

.box h2{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: 'neutrn';
  letter-spacing: 2px;
  font-weight: lighter;
  color: #263f22;
  margin-top: -10px;
  font-weight: bold;
}

.box p{
  color: #263f22;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 20px 10px 20px;
  font-size: 15px;
}

.box button{
  width: 100%;
  height: 40px;
  background: transparent;
  border: #263f22 1px solid ;
  font-size: 20px;
  font-family: 'neutron';
  margin-bottom: 20px;
  cursor: pointer;
  color: #263f22;
}

.box button:hover{
  background: #263f22 ;
  color: #fff;
  transition: .5s;
}

.box .footer-content{
  margin: 10px 0 0 0;
  position: relative;
}

.thankyou{
  width: 100%;
  height: max-content;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.thankyou h2{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  color: #263f22;
}

.thankyou img{
  padding: 20px 0;
  width: 300px;
}

.thankyou h5{
  text-align: center;
  font-family: 'bromello';
  color: black;
  font-size: 50px !important;
  font-weight: lighter;
  margin-top: 20px;
}

.contact-us form input{
  margin-bottom: 10px;
}
.contact-us form input, .contact-us form #message{
  width: 100%;
  height: 100px;
  /* font-size: 1.0625rem; */
  background: transparent;
  border: 1px solid #263f22;
  color: #263f22;
  font-family: 'Josefin Sans',sans-serif;
}

#name::-webkit-input-placeholder,
#message::-webkit-input-placeholder{
  color: #263f22;
  padding-left: 8px;
}

.contact-us form #message{
  padding-top: 10px;
}

.contact-us form input:focus,
.contact-us form #message:focus{
  outline-color: #263f22;
}
.contact-us form input{
  height: 35px;
}
.contact-us form .btn{
  margin-top: 10px;
}

#input_button{
  height: 40px;
  width: 100%;
  border: 1px solid #263f22;
  background: transparent;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#input_button:hover{
  background-color: #263f22;
  color:#fff;
}

#input_button:active{
  transform: translateY(4px);
}

 .container1{
  width:100%;
  height:40vh;
  display: block;
  overflow: auto;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.1);
  /* padding-right: 10px; */
}

.task_container{
  background-color:transparent;
  width: 100% !important;
  padding: 10px;
}

.task_container:hover{
  background-color: #8cb087;
}

#task_data{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
}

#task_title{
  font-family:monospace;
  font-size:15px;
  width:100%;
  text-align: left;
  padding: 0;
  color: #263f22;
}

#task_title p{
  padding-right: 10px;
}

#task_date{
  text-align: left;
  padding: 0;
  font-family:monospace;
  font-size:15px;
  font-weight: bold;
  padding-top: 5px;
  color: #263f22;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 35px 0 15px 0;
}

.footer p{
  color: #263f22;
  padding-bottom: 24px;
}

.footer a{
  color: #263f22;
  text-decoration: none;
  padding-bottom: 20px;
}

@media(max-width: 413px){
  .container{
    overflow-x: hidden !important;
  }
  
  .wrapper{
    width: 100vw;
  }

  #popup{
    width: 100vw;
  }

  .cover-popup img{
    width: 100vw;
  }

  .title{
    left: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    position: absolute;
  }

  .title a{
      position: relative;
      padding: 3px 25px;
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      border: solid 1px white;
      font-weight: lighter;
      font-size: 18px;
      border-radius: 20px;
  }

  title a:hover{
      background: rgb(238, 238, 238);
  }

  .container-top{
    width: 100vw;
  }

  .cover-top img{
    width: 100vw;
  }

  .content-top{
    position: absolute;
  }

  .arrum-section{
    width: 100vw;
  }

  .content-isra{
    width: 100vw;
  }

  .content-isra p{
    padding: 20px 30px;
  }

  .couple-photo img{
    width: 100vw;
  }

  .couple-name{
    width: 100vw;
  }

  .couple-name img{
    width: 90vw;
  }

  .the-date img{
    width: 100vw;
  }

  .playfair{
    font-size: 20px !important;
  }
  
  .salsa{
    font-size: 18px !important;
  }

  .font-bromello,.font-bromello1{
    font-size: 42px !important;
  }

  #counting{
    width: 100vw;
  }

  .count-down{
    width: 100vw;
    margin-top: -60px;
  }

  .count-down p{
    font-size: 32px;
  }

  .time{
    margin-bottom: 0px;
    font-size: 40px;
  }

  .separator{
    padding: 0 12px;
  }

  .font-smaller{
    font-size: 10px;
  }

  #habis.aktif{
    font-size: 12px;
  }
  
  .date-time{
    width: 100vw;
  }

  .date-time img{
    width: 290px;
  }

  .map{
    width: 100vw;
  }

  .map img{
    width: 340px;
  }

  .amplop{
    width: 100vw;
  }

  .content-closing{
    width: 100vw;
  }

  .protokol img{
    width: 100vw;
  }

  .contact-us{
    padding: 20px;
  }

  .box h2{
      font-size: 30px;
  }

  .box p{ 
      font-size: 12px;
  }

  .box button{
      font-size: 15px;
  }

  .contact-us form input, .contact-us form #message{
      width: 100%;
  }

  #name::-webkit-input-placeholder,
  #message::-webkit-input-placeholder{
      font-size: 13px;
  }

  .thankyou h2{
      font-size: 15px;
  }

  .thankyou h5{
      font-size: 40px;
  }

  body{
      overflow-x: hidden;
  }

  #task_data{
      padding-left: 5px;
      padding-right:0 ;
  }

  #task_title{
      font-size: 15px;
  }

  #task_date{
      font-size: 14px;
  }

  .task_container:hover{
    background-color: transparent;
  }

  .footer{
      padding: 35px 0 15px 0;
  }

  .footer p{
    padding-bottom: 103px;
  }

  .footer a{
    padding-bottom: 100px;
  }
} 